// File: Pages/Home.razor
@page "/"

<h1>Welcome to EvoGym</h1>
<ul>
    <li><a href="/achievements">Achievements</a></li>
    <li><a href="/exercises">Exercise Catalog</a></li>
    <li><a href="/register">Register</a></li>
</ul>
