@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.








@*
Codigo para acceso a internet
    
var accessType = Connectivity.Current.NetworkAccess;
if (accessType is NetworkAccess.Internet)
{
    // Connection to internet is available
} *@